/* general */

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: 30px auto;
}

/* btns */

.btn-container {
  display: flex;
  flex-flow: row nowrap;
}

.btn {
  font-size: 20px;
  width: 70px;
  height: 70px;
  border: solid darkgray 0.5px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.num-pad .btns-row .btn:first-child {
  margin-left: 0;
}

.function-pad .btns-row .btn:last-child {
  margin-right: 0;
}

.btn-num {
  background-color: lightgray;
}

.btn-function {
  background-color: gray;
}