/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 960px;
  margin: 30px auto;
}

/* typografy */

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

/* input & calc bar */

.calc-container {
  max-width: 520px;
}

.input-bar {
  width: 100%;
  font-size: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.calc-bar {
  width: 100%;
  height: 50px;
  background-color: lightgray;
  margin-bottom: 10px;
  padding: 5px 10px;
  overflow-y: auto;
}

/* btns */

.btn-container {
  display: flex;
  flex-flow: row nowrap;
}

.btn {
  font-size: 20px;
  width: 70px;
  height: 70px;
  border: solid darkgray 0.5px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.num-pad .btns-row .btn:first-child {
  margin-left: 0;
}

.num-pad .btns-row:last-child .btn, .function-pad .btns-row:last-child .btn {
  margin-bottom: 0;
}

.function-pad .btns-row .btn:last-child {
  margin-right: 0;
}

.btn-number {
  background-color: lightgray;
  transition: 0.3s;
}

.btn-number:hover {
  background-color: darkgray;
  transition: 0.3s;
}

.btn-function {
  background-color: gray;
  transition: 0.3s;
}

.btn-function:hover {
  background-color: darkgray;
  transition: 0.3s;
}

.btn-clear-history {
  border: solid darkgray 0.5px;
  background-color: gray;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-clear-history:hover {
  background-color: darkgray;
  transition: 0.3s;
}

/* history and memory */

.history-memory-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 420px;
  margin-left: 20px;
  background-color: lightgray;
  padding: 10px;
}

.history-container {
  height: 300px;
  border-bottom: solid darkgray 0.5px;
}

.history-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.history-text {
  margin-top: 5px;
  height: 260px;
  overflow: auto;
}

.memory-container {
  padding-top: 10px;
}

/* responsiv */

@media (max-width: 960px) {
  .container {
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .history-memory-container {
    flex-flow: row;
    max-width: 520px;
    margin: 10px;
    justify-content: space-evenly;
  }
  .calc-container {
    margin: 10px;
  }
  .history-container {
    width: 280px;
    border-bottom: none;
    border-right: solid darkgray 0.5px;
    padding-right: 10px;
    height: 200px;
  }
  .memory-container {
    width: 200px;
    padding-top: 0;
  }
}
@media (max-width: 560px) {
  .calc-container{
    width: 100%;
  }
  .btn {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  .btn-container {
    width: 100%;
    justify-content: space-evenly;
  }
  .history-memory-container {
    flex-flow: column;
    width: 100%;
    margin: 10px;
    justify-content: start;
  }
  .history-container {
    width: 100%;
    border-right: none;
    border-bottom: solid darkgray 0.5px;
    padding-right: 0;
    height: 200px;
  }
  .memory-container {
    width: 100%;
    padding-top: 10px;
  }
}

@media (max-width: 420px) {
  .btn {
    margin: 0;
  }
}

@media (max-width: 310px) {
  .btn-container {
    flex-flow: column;
    align-items: center;
  }
}